body {
    margin: 0;
    padding: 0;
    background: #dfe8d7;
    color: #1f1f1f;
    font-family: "georgia" sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/*page2*/
.gallery {
    display: flex;
    gap: 30px;
}

.artwork {
    position: relative;
}

.artwork img {
    width: 260px;
    height: auto;
    border-radius: 6px;
    box-shadow: 0px 4px 10px #b9c5af;
}

.artwork .title {
    position: absolute;
    bottom: 12px;
    left: 10px;
    opacity: 0;
    transition: 0.3s;
    color: #ffffff;
    font-size: 14px;
    text-shadow: 0px 2px 4px black;
}

.artwork:hover .title {
    opacity: 1;
}

/*cookies*/
#cookie {
    background: rgba(255, 255, 255, 0.1);
    padding: 18px 25px;
    border-radius: 8px;
    border: 1px solid #8ca589;
    margin-top: 40px;
    color: #2c2c2c;
}

.hidden {
    display: none;
}

/*like*/
.like {
    font-size: 3rem;
    cursor: pointer;
    color: #d65a5a;
}

button {
    padding: 14px 28px;
    background: #ffffff;
    border: 1px solid #8fae81;
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
    color: #2b2b2b;
    transition: 0.3s;
}

button:hover {
    background: #f2f7ef;
}

@keyframes glitch {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(10px, -5px);
    }

    50% {
        transform: translate(-10px, 5px);
    }

    75% {
        transform: translate(5px, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* .glitch {
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(45deg, #ff00c8 0, #00fff9 25%, #ff00c8 50%, #00fff9 75%, #ff00c8 100%);
    animation: glitch 0.1s infinite;
} */

#fadeImage {
    width: 300px;
    transition: opacity 4s;
}