body {
    margin: 0px;
    background: rgb(32, 71, 31);
    color: rgb(228, 230, 228);
    font-family: "georgia" sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/*page2*/
.gallery {
    display: flex;
    gap: 20px;
}

.artwork {
    position: relative;
}

.artwork img {
    width: 250px;
    height: auto;
}

.artwork .title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    opacity: 0;
    transition: 0.3s;
}

.artwork:hover .title {
    opacity: 1;
}

/*cookies*/
#cookie {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border: 1px solid white;
    margin-top: 40px;
}

.hidden {
    display: none;
}

/*like*/
.like {
    font-size: 3rem;
    cursor: pointer;
}

@keyframes glitch {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(10px, -5px);
    }

    50% {
        transform: translate(-10px, 5px);
    }

    75% {
        transform: translate(5px, 10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

/* .glitch {
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(45deg, #ff00c8 0, #00fff9 25%, #ff00c8 50%, #00fff9 75%, #ff00c8 100%);
    animation: glitch 0.1s infinite;
} */

#fadeImage {
    width: 300px;
    transition: opacity 4s;
}

button {
    padding: 15px 30px;
    background: white;
    border: none;
    font-size: 1.2rem;
}