body {

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    padding: 0;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;

    background-color: #2F4F4F;
}

/*Google Fonts Implementation*/
#Wrapper {

    margin-top: 0px;
    float: right;
    width: 60%;
    margin-right: 50px;
}

header h1 {
    text-align: right;
    font-size: 25px;
    margin-bottom: 5px;
}

header h2 {

    margin-top: 0px;
    margin-bottom: 30px;
    text-align: right;
    font-size: 20px;
    color: #FFF8DC;
}

header h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
    color: #FFF8DC;
}

header img {
    margin-top: 50px;
    width: 100%;
}

nav {
    margin-top: 50px;
    margin-left: 50px;
    float: left;
    width: 15%;
    line-height: 30px;
    position: absolute;
}

nav a {
    text-decoration: underline;
    color: #222240;
    font-weight: bold;
}

nav a:hover {
    color: #FFF8DC;
}

section {
    margin-bottom: 30px;
    text-align: justify;
}

article p:last-child {
    margin-bottom: 80px;
}

article h3 {
    margin-bottom: 10px;
    color: #FFF8DC;
}

footer {
    margin-top: 20px;
    min-height: 30px;
    font-size: 10px;
    font-weight: lighter;
    text-align: right;
    font-style: italic;
}

footer a {
    text-decoration: none;
    color: #FFF5EE;
}

.books {
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 100%;
    gap: 16px;
}

.books img {
    display: block;
    width: 100%;
    height: auto;
}

.books>div {
    text-align: center;
    padding: 10px;
}

.books figure {
    margin: 0;
}

article figure figcaption {
    margin-top: 5px;
    font-size: 12px;
}

@media (max-width: 480px) {

    nav {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0;
        line-height: 30px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 4px solid #222240;
        background: #222240;
        z-index: 1000;
        color: #FFFFE0;
    }

    nav a {
        color: #FFFFE0;
    }

    h1 {
        margin-top: 50px;
    }

    #wrapper {

        margin-top: 50px;
        position: relative;
        width: 90%;
        margin: 0 auto;
        float: none;
    }

    footer {
        margin-top: 40px;
        font-size: 12px;
    }

    .books {
        grid-template-columns: auto auto;
        gap: 16px;
    }



}