body {

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    background-color: #d2c9ed;
}

/*Google Fonts Implementation*/
/* #Wrapper {
    margin-top: 0px;
    width: 60%;
    margin-right: 50px;
} */

/* header h1 {
    text-align: right;
    font-size: 25px;
    margin-bottom: 5px;
}

header h2 {

    margin-top: 0px;
    margin-bottom: 30px;
    text-align: right;
    font-size: 20px;
    color: #FFF8DC;
}

header h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
    color: #FFF8DC;
} */

/* header img {
    margin-top: 50px;
    width: 100%;
} */

nav {
    margin-top: 50px;
    line-height: 30px;
    display: grid;
    grid-template-columns: 60% 1fr;
}

.menu1 {
    display: flex;
    /* background: white; */
    justify-content: space-around;
    align-items: center;
}

/* .menu1 {
    display: block;
    justify-content: space-around;
} */

.logo {
    text-align: left;
}

.logo img {
    width: 110px;
    height: 50px;
}

nav a {
    text-decoration: underline;
    color: #222240;
    font-weight: bold;
}

/* nav a:hover {
    color: #FFF8DC;
}

section {
    margin-bottom: 30px;
    text-align: justify;
} */

/* 
article p:last-child {
    margin-bottom: 80px;
}

article h3 {
    margin-bottom: 10px;
    color: #FFF8DC;
} */

footer {
    margin-top: 20px;
    min-height: 30px;
    font-size: 10px;
    font-weight: lighter;
    text-align: right;
    font-style: italic;
}

footer a {
    text-decoration: none;
    color: #FFF5EE;
}

.books {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0px;
    margin: 0;
    padding: 0;
}

books figure {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.im {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    box-sizing: border-box;
    display: block;
}

.im1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.im2 {
    grid-column: 4/7;
    grid-row: 1/3;
}

.im3 {
    grid-column: 7/13;
    grid-row: 1/6;
}

.im4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3/6;
}

.im5 {
    grid-column: 4/7;
    grid-row: 3/5;
}

.im6 {
    grid-column: 1/7;
    grid-row: 5/9;
}

.im7 {
    grid-column: 7/10;
    grid-row: 5/7;
}

.im8 {
    grid-column: 10/13;
    grid-row: 5/7;
}

.im9 {
    grid-column: 7/10;
    grid-row: 7/9;
}

.im10 {
    grid-column: 10/13;
    grid-row: 7/9;
}


.im11 {
    grid-column: 1/4;
    grid-row: 9/11;
}

.im12 {
    grid-column: 4/7;
    grid-row: 9/11;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    color: rgb(161, 145, 173);
}

.social .fa {
    font-size: 3em;
    padding: 12px;
    color: rgb(161, 145, 173);
}

/* .books img {
    display: block;
    width: 100%;
    height: auto;
}

.books>div {
    text-align: center;
    padding: 10px;
}



article figure figcaption {
    margin-top: 5px;
    font-size: 12px;
}

table img {
    max-width: 100%;
}

@media (max-width: 480px) {

    nav {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0;
        line-height: 30px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 4px solid #222240;
        background: #222240;
        z-index: 1000;
        color: #FFFFE0;
    }

    nav a {
        color: #FFFFE0;
    }

    h1 {
        margin-top: 50px;
    }

    #wrapper {

        margin-top: 10px;
        position: relative;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    footer {
        margin-top: 40px;
        font-size: 12px;
    }

    .books {
        grid-template-columns: auto auto;
        gap: 16px;
    }



}